/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-code-font-size: 95%;
  --ifm-color-primary: #6332c7;
  --ifm-color-primary-dark: #c5aef4;
  --ifm-color-primary-darker: #c5aef4;
  --ifm-color-primary-darkest: #c5aef4;
  --ifm-color-primary-light: #c5aef4;
  --ifm-color-primary-lighter: #c5aef4;
  --ifm-color-primary-lightest: #c5aef4;
  --ifm-navbar-color: #5bb5be;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6332c7;
  --ifm-color-primary-dark: #6332c7;
  --ifm-color-primary-darker: #6332c7;
  --ifm-color-primary-darkest: #6332c7;
  --ifm-color-primary-light: #6332c7;
  --ifm-color-primary-lighter: #6332c7;
  --ifm-color-primary-lightest: #6332c7;
  --ifm-navbar-color: #3d8f96;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: var(--ifm-navbar-color);
}